body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: grey;
}


.example-container {
  margin-top: 80px;
  position: relative;
  padding: 15px;
}


.header {
  cursor: pointer;
  z-index: 3;
  top: 5px;
  left: 5px;
  position: fixed;
  height: 60px;
  width: 60px;
  background: ghostwhite;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}

.header img {
  height: 100%;
  width: auto;
}

.example-holder {
  min-height: 300px;
  margin: 5px 0 0 0 ;
}

.example-left {
  display: inline-block;
  width: 50%;
  vertical-align: top;

}

.example-right {
  display: inline-block;
  width: 50%;
  min-height: 300px;
  vertical-align: middle;
  background: ghostwhite;
}
