body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #3a4753;
}

.side-area {
  width: 25%;
  max-width: 270px;
  min-height: 100vh;
  position: fixed;
  background: ghostwhite;
  vertical-align: top;
}

.side-filler {
  width: 25%;
  max-width: 270px;
  display: inline-block;
  min-height: 100vh;
  height: 100%;
}

.header {
  display: block;
  cursor: pointer;
  width: 100%;
  background: ghostwhite;
  overflow: hidden;
  text-align: center;
  color: #3a4753;
  text-decoration: none;
}
.header h3 {
  padding-left: 5px;
  padding-right: 5px;
}
.header h5 {
  padding-left: 5px;
  padding-right: 5px;
}

.side-toc {
  min-height: 100vh;
  padding-top: 250px;
}


.header img:hover {
  opacity: 0.7;
}

.header img {
  width: 50%;
  height: auto;
}

.paragraph-area {
  margin: 60px;
  text-align: center;
  font-size: 24px;
}

.p-small {
  font-size: 14px;
}

.example-holder {
  min-height: 300px;
  margin: 5px 0 0 0 ;
  padding: 15px 0 15px 15px;
}

.example-left {
  display: inline-block;
  width: 50%;
  vertical-align: top;

}

.example-right {
  display: inline-block;
  width: 50%;
  min-height: 300px;
  vertical-align: middle;
  background: ghostwhite;
}

.example-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
